@font-face {
	font-family: "Main";
	src: url(./font/Fairview_regular.otf) format("opentype");
}

body{
	font-family: "Main";
	font-size: 30px;
	background: #7B998F;
}

#canvas{
	border: solid 1px black;
}
